<div class="loadingDiv" *ngIf="gettingUser">
  <img height="700" src="assets/images/gif/Only-Logo-slow.gif"/>
</div>
<span *ngIf="!gettingUser">
<app-navbar></app-navbar>
<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square7"></div>
    <div class="squares square10"></div>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
  </span>
