.marg-addTrain {
  margin-top: 50px !important;
}

.marg-backrain {
  margin-top: -80px !important;
  opacity: 0.2;
}

.bordtextarea {
  border-radius: 0.4285rem;
  border: 1px solid gray;
  border: 1.8px solid #2b3553;
}
.marg-other{
  font-weight: bold !important;
}
